/*  CSSmall by Mads Lousdal 
    github.com/MLousdal
*/

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html {font-size: 15px;} 

body {
  background: white;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 auto;
  /* max-width: 1440px; */
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* ----- Fonts ----- */
/* ----- Font size is "Major Second" from https://type-scale.com/ -----  */

p {
    /* padding-bottom: 1rem; */
    color: hsl(0, 0%, 41%);
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  padding: 0.5em 1.5em 0 0.5em;
  font-size: 4rem;
  border: 2px solid #fff;
  width: fit-content;
  color: #fff;
  margin: 1em 0;
}

h2 {
    font-size: 2.5rem;
    padding: 0 0 0.5em 0;
}

h3 {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}

/* ----- Colors ----- */

.whiteTxt {
    color: hsl(0, 0%, 100%);
}

.whiteBG {
    background-color: hsl(0, 0%, 100%);
}

.blackTxt {
    color: hsl(0, 0%, 0%);
}

.blackBg {
    background-color: hsl(0, 0%, 0%);
}

/* ----- Background images ----- */

.hero {
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.art-img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 65%;
}


/* ----- Misc. Positions ----- */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.margin-4x {
    margin-bottom: 4rem;
}

.relative {
    position: relative;
}

.appear {
    display: none;
    width: fit-content;
    margin-top: 2rem;
}

.disappear {
    display: block;
}

/* ----- Semantic Elements ----- */

/* ----- Nav-bar ----- */

nav {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
    justify-content: space-evenly;
}

.navBtn {
    cursor: default;
    pointer-events: none;
    display: none;
    background: none;
    font-size: 1.5rem;
    padding: 0;
}

#burgerMenu {
    position: fixed;
    z-index: 10;
    height: 0;
    top: -18%;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 0;
}
  
.overlay-content {
    display: flex;
    align-items: flex-start;
    margin: 4rem 0;
    text-align: left;
    flex-direction: column;
}
  
#burgerMenu a {
    font-size: 2rem;
    transition: 0.3s;
}

/* ----- Section ----- */

section {
    width: 100%;
    margin: 200px 0;
}

section img {
    width: 100%;
}

/* ----- Article ----- */

article {
    padding: 6em 0 0 6em;
    max-width: 50ch;
    position: absolute;
    bottom: 1%;
    left: 50%;
    background-color: #fff;
    z-index: 5;
}

/* ----- Footer ----- */

footer {
    background-color: hsl(0, 0%, 0%);
}

.footer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0;
}

/* ----- Links ----- */

a {
    text-decoration: none;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    padding-bottom:2px; /*the space for the gradient*/
    background: linear-gradient(#fff,#fff) bottom; /*OR bottom right OR bottom left*/
    background-size: 0% 2px; /*width:0% height:2px*/
    background-repeat:no-repeat; /* Don't repeat !!*/
    transition: all 0.45s;
}

a:hover {
    background-size: 30% 2px; /*width:100% height:2px*/
}


.some {
    padding: 0 0.5em;
    font-size: 1.5rem;
}

.btn-sa {
    color: #000;
    border: 2px solid;
    border-radius: 5%;
    padding: 0.5rem 3rem;
    background: none;
}

.btn-sa:hover {
    color: #fff;
    padding: 0.5rem 3rem;
    border: 2px solid #000;
    border-radius: 5%;
    background-color: #000;
}

/* ----- Components ----- */

/* ----- Grid ----- */

.grid-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    overflow: hidden;
}

.grid-item {
    padding: 0;
    position: relative;
    width: auto;
    color: #fff;
}

.grid-item h3 {
    color: inherit;
}

.grid-item:hover {
    color: #000;
}

.grid-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    transition: all 0.45s;
}

.grid-item:hover::after {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7));
}

.grid-item img{
    max-width: 100%;
    height: 100%;
}

.grid-item h3 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    z-index: 2;
}

/* ----- Container ----- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1rem;
    width: 50%;
}

.container img{
    max-width: 30%;
    padding: 1rem;
}

.right {
    text-align: right;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 90%;
    }
    /* ----- Hero ----- */
    .navBtn {
        cursor: pointer;
        pointer-events: visible;
        display: block;
    }
    .hero {
        background-image: url("../images/mobile/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        max-height: 650px;
    }
    /* ----- Typography ----- */
    h1 {
        padding: 1rem;
        margin: 8rem 0;
        font-size: 3rem;
    }
    h2 {
        width: 100%;
        text-align: center;
    }
    /* ----- Misc. Positions ----- */
    .margin-4x {
        margin-bottom: 1rem;
    }
    .appear {
        display: block;
    }
    .disappear {
        display: none;
    }
    /* ----- Section ----- */
    section {
        margin: 6rem 0;
    }
    /* ----- Article ----- */
    article {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 0;
    }
    .art-img {
        max-width: 100%;
        padding-bottom: 2rem;
    }
    /* ----- Footer ----- */
    .footer {
        flex-direction: column;
    }
    .container {
        align-items: center;
        text-align: center;
        padding-right: 0;
        width: 100%;
    }
    .column li{
        width: 100%;
    }
    .container img{
        max-width: 50%;
        padding: 1rem;
    }
    .right {
        margin-top: 2rem;
        text-align: center;
    }
    /* ----- Grid ----- */
    .grid-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .grid-item::after {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    }
}